@model Projet_5.Web.Models.ViewModel.CarForPublicViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Delete";
}

<div class="text-center d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    <p style="font-family: 'Libre Baskerville';">Êtes-vous sûr de vouloir supprimer cette annonce ?</p>
    <form asp-area="Admin" asp-controller="CarForSale" asp-action="Delete" asp-route-id="@Model.Id" method="post" class="mt-4">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger me-2">Supprimer</button>
    <a asp-area="" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Annuler</a>
	</form>
</div>
