@model Projet_5.Web.Models.ViewModel.CarFormViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit";
}


<div class="container" style="max-width:1320px; margin-top: 30px;">
    <h1 class="text-center" style="font-style: italic; font-size: 44px;">Ajouter une voiture</h1>
    <h3 class="text-center mb-4">tous les champs sont obligatoires</h3>

    <div class="mx-auto p-5 bg-white rounded-4 shadow" style="width: 493px;">
        <form asp-action="Edit" asp-controller="CarForSale" asp-area="Admin" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="mb-4">
                <label asp-for="PurchasePrice" class="form-label">Prix d'achat</label>
                <input asp-for="PurchasePrice" class="form-control rounded-1" type="number" style="height:64px; border: 1px solid #2C1810;" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="PurchaseDate" class="form-label">Date d'achat</label>
                <input asp-for="PurchaseDate" type="date" class="form-control rounded-1" style="height:64px; border: 1px solid #2C1810;" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="RepairCost" class="form-label">Prix des réparations</label>
                <input asp-for="RepairCost" class="form-control rounded-1" type="number" style="height:64px; border: 1px solid #2C1810;" />
            </div>

            <div class="mb-4">
                <label asp-for="Year" class="form-label">Année</label>
                <select asp-for="Year" asp-items="Model.AvailableYears" class="form-control rounded-1" type="number" style="height:64px; border: 1px solid #2C1810;">
                    <option value="">-- Sélectionner une année --</option>
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="BrandId" class="form-label">Marque</label>
                <select asp-for="BrandId" asp-items="Model.Brands" class="form-control rounded-1" style="height:64px; border: 1px solid #2C1810;">
                    <option value="">-- Sélectionner une marque --</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Model" class="form-label">Modèle</label>
                <input asp-for="Model" class="form-control rounded-1" style="height:64px; border: 1px solid #2C1810;" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Trim" class="form-label">Finition</label>
                <input asp-for="Trim" class="form-control rounded-1" style="height:64px; border: 1px solid #2C1810;" />
                <span asp-validation-for="Trim" class="text-danger"></span>
            </div>

            <div class="mb-4 form-check">
                <input asp-for="IsAvailable" type="checkbox" class="form-check-input" id="availableCheckbox" />
                <label class="form-check-label" for="availableCheckbox">Disponible</label>
            </div>

            <div class="mb-4" id="availabilityDateContainer">
                <label asp-for="AvailabilityDate" class="form-label">Date de disponibilité</label>
                <input asp-for="AvailabilityDate" type="date" class="form-control rounded-1" style="height:64px; border: 1px solid #2C1810;" />
                <span asp-validation-for="AvailabilityDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImageFile" class="form-label">Visuel</label><br />
                <div class="rounded-1 mt-2 d-flex align-items-center justify-content-center gap-3" style="height:150px; color: #2C1810; border: 1px solid #2C1810;">
                    <input asp-for="ImageFile" id="ImageFile" type="file" style="display:none;" />
                    <label for="ImageFile" class="image-upload-plus">
                        +
                    </label>
                    <span id="file-name" style="color: #929292">Ajouter une image</span>

                </div>
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn btn-express">Publier</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        <script>
            document.getElementById("ImageFile").addEventListener("change", function () {
                const fileName = this.files[0]?.name || "Ajouter une image";
                document.getElementById("file-name").textContent = fileName;
            });

                        const checkbox = document.getElementById('availableCheckbox');
            const dateContainer = document.getElementById('availabilityDateContainer');

            function toggleDateField() {
                if (checkbox.checked) {
                    dateContainer.style.display = 'block';
                } else {
                    dateContainer.style.display = 'none';
                    document.getElementById('AvailabilityDate').value = '';
                }
            }

            checkbox.addEventListener('change', toggleDateField);
            window.addEventListener('DOMContentLoaded', toggleDateField);
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }